{% extends "base.html" %}


{% block content %}



<div class="container" style="width:75%">
  <ul class="list-group">
    {% for task in tasks %}
  
    <ul class="list-group">
      <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ task }}</h5>
          <small><span style="font-weight: bold;">Date Due: </span> {{ task.due_date }}</small>
        </div>
        <span class="badge badge-light">{{ task.label }}</span>
        <p>Notes: {{task.notes}}</p>
        <a href="{% url 'update-task' pk=task.id %}"><button type="button" class="btn btn-outline-secondary btn-sm">Update</button>
        </a>


      </li>
      
    </ul>
    {% endfor %} 
</ul>

{% if task in tasks %}
  {% include 'task/pagination.html' %}
{% endif %}


</div>

  




{% endblock %}



