/* #task-card{
    width: 25%;
    color: blue;
} */


body{
    color: rgb(36, 36, 36);
    background-color: rgb(240, 240, 240);
}

nav{
    margin-bottom: 50px;
}

#task-card-container{
    width: 250px;
    margin-bottom: 50px;
    /* border-color:  rgb(105, 135, 114); */
    border-radius: 10px;
    border-width: 2px;
    /* filter: drop-shadow(0 0 0.05rem #505050); */
}

#task-card-container span{
    font-weight: bold;
}


#form-card{
    margin-bottom: 50px;
    width: 700px;
    /* background-color:  rgb(105, 135, 114); */
    border-color:  #7c7e81;
    border-radius: 10px;
    border-width: 3px;
    /* color:white; */
    filter: drop-shadow(0 0 0.1rem #505050);

}

#form-container{
    width:500px;
    
}

#form-card h4{
    text-align: center;
}


